body {
  background-color: #061921;
}

header {
  text-align: center;
  font-size: 2.4em;
  color: yellow;
  margin-left: -60px;
  padding-top: 40px;
  text-transform: uppercase;

  .emphasize-text {
    color: #ee4e73;
  }
}

.center {
  text-align: center;
}

.lines-container {
  margin: -280px auto;
  width: 350px;
  height: 145px;
}

.slots-machine {
  height: 400px;
}

.slots-machine-image {
  height: 420px;
  width: 530px;
  margin: 0 auto;
  background: url(assets/images/slots-machine.png) no-repeat;
}

.slots-line {
  display: inline-block;
  width: 30%;
  margin: 20px 25px 0 -27px;
  border: 4px solid #c0c0c0;
  height: 100px;
  overflow: hidden;

  .slot {
    height: 100px;
    background-position-x: 55%;
    background-repeat: no-repeat;
  }

  .slot1 {
    background-image: url(assets/images/slot1.png);
  }
  .slot2 {
    background-image: url(assets/images/slot2.png);
  }
  .slot3 {
    background-image: url(assets/images/slot3.png);
  }
  .slot4 {
    background-image: url(assets/images/slot4.png);
  }
  .slot5 {
    background-image: url(assets/images/slot5.png);
  }
  .slot6 {
    background-image: url(assets/images/slot6.png);
  }
}

.result-container {
  margin: 319px auto;
  width: 350px;
  height: 20px;
  text-align: center;

  .result {
    font-size: 0.9em;
    text-transform: uppercase;
    margin-left: -50px;
  }
}

.controls {
  margin-left: -30px;
}

.button {
  font-size: 0.8em;
  margin: 30px 10px;
  //-webkit-border-radius:5px;
  //-moz-border-radius:5px;
  //border-radius:5px;
  color: white;
  padding: 5px 40px;
  border: 0px;
  //font-weight:bold;

  &:hover {
    cursor: pointer;
  }
}

.spin-button {
  background-color: #079007;
}

.stop-button {
  background-color: #a11b3c;
}